{{define "logout"}}
{{template "header" .}}
        <div class="row">
          <div class="span14 offset4">
          <h1>Thanks for spending time with the site!</h1>
          </div>
        </div>
      </div>
{{template "footer"}}
{{end}}